
body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}
h1{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height:1.5;
    font-weight: 900;
}

h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
    line-height:1.5;
    font-weight: 900;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu";
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat-light";
}
.button-download{
    margin: 5% 3% 5% 0;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
position: absolute;
    right: 30%;
}

#features{
    padding: 7% 12%;
position: relative;
    background-color: #fff;
}
.subtext{
    color: #8f8f8f;
    padding:0 5%;
}
.feature-box{
   padding:3%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    background-color: #ef8172;
    text-align: center;
   
}
.testimonial-text{
    color: #fff;
    font-family:"Montserrat";
    font-size: 3rem;
    font-weight: 900;
    line-height: 3 rem;
    }
.testimonial-img{
    border-radius: 100%;
    width: 10%;
    margin: 20px;

}

em{
    color: #fff;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 12%;   
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}
h2{
    font-weight:900;
}
@media(max-width: 1020px){
    .title-img{
        position: static;
        transform: rotate(0);
    }
    h1{
        text-align: center;
    }
}

/*cta */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%; 
}
.lasth3{
    font-size: 3.5rem;
    color:#fff;
    line-height: 1.5;
    font: "Montserrat-Black";
    text-align: center;
    
}
#footer{
    text-align: center;
    padding: 7% 15%;
}
.socialmedia{
  margin: 20px 10px ;  
}